.Survey {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Survey .survCnt {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  padding: 32px 230px 0;
}
.Survey .survCnt .header {
  display: flex;
  flex-direction: column;
}
.Survey .survCnt .header .tit,
.Survey .survCnt .header .exp {
  font-family: "Pretendard Variable";
  font-style: normal;
  line-height: 160%;
}
.Survey .survCnt .header .tit {
  color: var(--Gray1, #000);
  font-size: 24px;
  font-weight: 600;
}
.Survey .survCnt .header .exp {
  margin-top: 10px;
  color: var(--Gray-5, #808388);
  font-size: 12px;
  font-weight: 400;
}

.Survey .survCnt .content {
  display: flex;
  width: 980px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-top: 30px;
}
.Survey .survCnt .content .question {
  color: var(--Gray1, #000);
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin: 20px 0 40px;
}
.Survey .survCnt .content .questionStep {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--Gray1, #000);
  font-weight: 500;
}
.Survey .survCnt .content .questionStep span {
  color: var(--Gray-5, #808388);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.Survey .survCnt .content .stepBar {
  width: 228px;
  height: 2px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 20px;
}
.Survey .survCnt .content .stepBar .bar {
  height: 100%;
  background-color: #000000;
  border-radius: 5px;
}
.Survey .survCnt .content .quesCnt {
  display: flex;
  height: 260px;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 40px;
  overflow-y: auto;
  /* 스크롤바 삭제 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.Survey .survCnt .content .quesCnt::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}
.Survey .survCnt .content .quesCnt .quesBtn {
  display: flex;
  height: 48px;
  padding: 8px var(--button-padding-gap-button-padding-md, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Gray-7, #E1E4E9);
  background: var(--Gray-10, #FFF);
}
.Survey .survCnt .content .quesCnt input {
  display: flex;
  width: 160px;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  border-bottom: #B6B9BE;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.Survey .survCnt .content .quesCnt .inputSlider {
  margin: 2rem;
}
.Survey .survCnt .content .stepBtnCnt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 100%;
}
.Survey .survCnt .content .stepBtnCnt .backBtn,
.Survey .survCnt .content .stepBtnCnt .nextBtn {
  color: var(--Gray-7, #676868);
  font-family: "Syne";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  border: none;
  background: white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Survey .survCnt .content .stepBtnCnt .nextBtn:hover {
  color: #000;
}