.LocationInfo .header,
.LocationInfo .detail .item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.LocationInfo .title {
  display: flex;
  align-items: center;
  margin: 40px 0 25px;
}
.LocationInfo .title span {
  color: var(--Gray-01, var(--Gray1, #000));
  font-family: "Syne";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1.62px;
}
.LocationInfo .title svg {
  width: 28px;
  height: 28px;
  margin-left: 12px;
}

.LocationInfo .detail {
  gap: 24px;
}
.LocationInfo .detail .item .detailIcon {
  width: var(--button-padding-gap-button-padding-xl, 24px);
  height: var(--button-padding-gap-button-padding-xl, 24px);
}
.LocationInfo .detail .item .detailCnt {
  color: var(--Gray-01, var(--Gray1, #000));
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.LocationInfo .detail .item .bold {
  font-weight: bold;
}
.LocationInfo .detail .item .detailCnt.spot {
  font-family: "Syne";
  font-size: 20px;
}

.LocationInfo .keyword {
  display: flex;
  margin-top: 1rem;
}
.LocationInfo .keyword span {
  display: flex;
  padding: 1px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 0.5rem;
  border-radius: 2px;
  background: var(--Gray-8, #ECEEF4);
  color: var(--Gray-5, #808388);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
