.locationDetail {
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 2rem;
}
.locationDetail .header,
.locationDetail .detail .item {
  display: flex;
  align-items: center;
}

.locationDetail .title {
  display: flex;
  align-items: center;
  margin: 40px 0 25px;
}
.locationDetail .title span {
  color: var(--Gray-01, var(--Gray1, #000));
  font-family: "Syne";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1.62px;
}
.locationDetail .title svg {
  width: 28px;
  height: 28px;
  margin-left: 12px;
}

.locationDetail .detail {
  gap: 24px;
}
.locationDetail .detail .item .detailIcon {
  width: var(--button-padding-gap-button-padding-xl, 24px);
  height: var(--button-padding-gap-button-padding-xl, 24px);
}
.locationDetail .detail .item .detailCnt {
  color: var(--Gray-01, var(--Gray1, #000));
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.locationDetail .detail .item .detailCnt.spot {
  font-family: "Syne";
  font-size: 20px;
}

.locationDetail .category {
  display: flex;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  gap: 6px;
}
.locationDetail .category button {
  display: flex;
  padding: 4px var(--button-padding-gap-button-padding-md, 16px);
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--Gray-10, #FFF);
}
.locationDetail .category svg {
  width: 20px;
  height: 20px;
}
.locationDetail .category span {
  color: var(--Gray-01, var(--Gray1, #000));
  font-family: "Syne";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.markerCnt {
  width: 180px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Gray1, #000);
  background: var(--Gray-10, #FFF);
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.16);
}
.markerCnt img {
  width: 156px;
  height: 124px;
  flex-shrink: 0;
}
.markerCnt span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  align-self: stretch;
  overflow: hidden;
  color: var(--Gray-01, var(--Gray1, #000));
  text-overflow: ellipsis;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}