.dtrSection {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.dtrModal {
  position: relative;
  width: 60%;
  height: 85%;
  background-color: #fff;
  overflow-x: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  /* 스크롤바 삭제 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dtrModal::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.dtrHeader {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  justify-content: center;
  border-radius: 16px 16px 0px 0px;
  border-bottom: 1px solid var(--Gray-8, #ECEEF4);
}

.dtrHeader span {
  color: var(--Gray1, #000);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.dtrHeader .closeBtn {
  position: sticky;
  top: 0;
  left: 95%;
  border: none;
  color: #ffffff;
  justify-content: flex-end;
}

.dtrCnt {
  display: flex;
}

.dtrCnt .leftCnt .writeBtn {
  display: inline-flex;
  height: 36px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: var(--button-padding-gap-button-gap-md, 2px);
  border-radius: var(--Border-Radius-rounded-full, 9999px);
  border: 1px solid var(--Gray1, #000);
  background: var(--Gray-10, #FFF);
}

.dtrCnt .leftCnt .writeBtn span {
  color: var(--Gray-01, var(--Gray1, #000));
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.dtrCnt .line {
  width: 1px;
  height: 534px;
  margin-top: 40px;
  background: var(--Gray-7, #E1E4E9);
}
