.fade-in {
    opacity: 0;
    transform: scale(0.95); /* 시작 시 약간 작게 설정 */
    transition: opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fade-in-active {
    opacity: 1;
    transform: scale(1); /* 원래 크기로 확대 */
}