.RmdContent {
  display: flex;
  width: 100%;
  height: 47rem;
  position: relative;
}

.RmdContent .rmdTitle {
  position: absolute;
  z-index: 1;
  left: 24%;
}
.RmdContent .rmdTitle span {
  color: var(--Gray-01, var(--Gray1, #000));
  font-family: "Syne";
  font-size: 67px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.62px;
}
.RmdContent .dnaHome {
  width: 536px;
  height: 552px;
  flex-shrink: 0;
  position: relative;
  top: 18%;
  left: 43%;
}
.RmdContent .rmdBtnContent {
  display: flex;
  width: 410px;
  height: 23px;
  top: 37%;
  left: 38%;
  padding: 10px var(--button-padding-gap-button-padding-xl, 24px) 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  position: absolute;
  border-radius: 54px;
  border: 2px solid var(--Gray1, #000);
  background: var(--Gray-10, #FFF);
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.16);
}
.RmdContent .rmdBtnContent p {
  margin-right: auto;
}