.wknSection {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.wknCnt{
  position: relative;
  width: 60%;
  height: 87%;
  background-color: #fff;
  overflow-x: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  /* 스크롤바 삭제 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.wknCnt::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.wknCnt .header {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 16px 16px 0px 0px;
}
.wknCnt .header .closeBtn {
  position: sticky;
  top: 0;
  left: 95%;
  border: none;
  color: #ffffff;
  justify-content: flex-end;
}

.wknCnt .content {
  display: flex;
  padding: 0px 60px 40px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 0px 16px 16px;
  background: #FFF;
}
.wknCnt .content .lcnName {
  color: var(--Gray-5, #808388);
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.wknCnt .content .facName {
  display: flex;
  width: 100%;
}
.wknCnt .content .facName span {
  color: var(--Gray1, #000);
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.wknCnt .content .facName .bmBtn {
  margin-left: auto;
}

.wknCnt .content .facImg {
  display: flex;
  flex-wrap: wrap;
}
.wknCnt .content .facImg img {
  width: 15rem;
  border-radius: 5px;
  display: flex;
  padding: 9px;
}

.wknCnt .content .facInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.wknCnt .content .facInfo .exp {
  color: var(--Gray-3, #292C30);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-left: 8px;
}