.wknSection {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.wknCnt {
  position: relative;
  width: 60%;
  height: 87%;
  background-color: #fff;
  overflow-x: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wknCnt::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.wknCnt .header {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  justify-content: center;
  border-radius: 16px 16px 0px 0px;
}

.wknCnt .header .closeBtn {
  position: sticky;
  top: 0;
  left: 95%;
  border: none;
  color: #ffffff;
  justify-content: flex-end;
}

.wknCnt .content {
  display: flex;
  padding: 0px 60px 40px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 0px 16px 16px;
  background: #FFF;
}

.wknCnt .content .lcnName {
  color: var(--Gray-5, #808388);
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.wknCnt .content .facName {
  display: flex;
  width: 100%;
}

.wknCnt .content .facName span {
  color: var(--Gray1, #000);
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.wknCnt .content .facName .bmBtn {
  margin-left: auto;
}

.wknCnt .content .facImg {
  display: flex; /* Flexbox 사용 */
  justify-content: space-between; /* 양쪽 정렬 */
}

.wknCnt .content .facImg .leftImage {
  width: 43%; /* 왼쪽 이미지 비율 유지 */
  height: 97%; /* 원하는 세로 비율로 설정 (예: 70%) */
  display: flex; /* 이미지 중앙 정렬을 위해 flex 사용 */
  align-items: center; /* 수직 중앙 정렬 */
}

.wknCnt .content .facImg .leftImage img {
  width: 100%; /* 왼쪽 이미지 너비 */
  height: 100%; /* 높이를 100%로 설정하여 컨테이너에 맞춤 */
  object-fit: cover; /* 비율 유지 */
}

.wknCnt .content .facImg .rightImages {
  display: flex;
  flex-direction: column; /* 세로로 나열 */
  width: 55%; /* 오른쪽 이미지 비율 */
}

.wknCnt .content .facImg .rightRow {
  display: flex; /* 행을 flex로 설정 */
  justify-content: space-between; /* 이미지 간격 조정 */
  margin-bottom: 10px; /* 행 간격 */
}

.wknCnt .content .facImg .rightRow img {
  width: 48%; /* 오른쪽 이미지 너비 (2장 배치) */
  border-radius: 5px;
  object-fit: cover; /* 비율 유지 */
}

.wknCnt .content .facImg .leftImage img {
  width: 100%; /* 왼쪽 이미지 너비 */
  border-radius: 5px;
  object-fit: cover; /* 비율 유지 */
}

.wknCnt .content .facInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.wknCnt .content .facInfo .exp {
  color: var(--Gray-3, #292C30);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-left: 8px;
}
