.chat {
  width: 295px;
  height: 248px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.chat .header {
  overflow: hidden;
  color: var(--Gray1, #000);
  margin-top: 28px;
  text-overflow: ellipsis;
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.chat .chatCnt {
  display: inline-flex;
  width: 100%;
  height: 60%;
  overflow-y: auto;
  padding: 8px 14px 0px 0px;
  align-items: center;
  border-top: 1px solid var(--Gray-7, #E1E4E9);
  background: #FFF;
  margin-bottom: 1rem;
}
.chat .chatMessage {
  display: inline-flex;
  padding: 10px 16px 11px;
  align-items: center;
  border-radius: 60px;
  border: 1px solid var(--Gray-8, #ECEEF4);
  background: var(--Gray-9, #F8FAFF);
  overflow: hidden;
  color: var(--Gray-6, #B6B9BE);
  text-overflow: ellipsis;
}
.chat .chatMessage .inputBox {
  align-items: center;
  border: none;
  background: var(--Gray-9, #F8FAFF);
  overflow: hidden;
  color: var(--Gray-6, #B6B9BE);
  text-overflow: ellipsis;
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
}
.chat .chatMessage .inputBox:focus {
  outline: none;
}
.chat .chatMessage .sendBtn {
  display: inline-flex;
  height: var(--Button-Size-button-size-sm, 32px);
  padding: 0px var(--button-padding-gap-button-padding-md, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--button-padding-gap-button-gap-sm, 2px);
  border-radius: var(--Border-Radius-rounded-full, 9999px);
  background: var(--Gray1, #000);
  color: #fff;
  margin-left: auto;
}

