.Reviews {
  display: flex;
  padding: var(--button-padding-gap-button-padding-md, 16px) var(--button-padding-gap-button-padding-md, 16px) var(--Input-Radius-input-radius-lg, 12px) 20px;
  flex-direction: column;
  gap: var(--Input-Radius-input-radius-lg, 12px);
  margin-top: 20px;
  border-radius: 16px;
  border: 1px solid var(--Gray-7, #E1E4E9);
  background: #FFF;
}

.Reviews .header {
  display: flex;
}

.Reviews .header span {
  overflow: hidden;
  color: var(--Gray1, #000);
  text-overflow: ellipsis;
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.Reviews .header svg {
  margin-left: auto;
  width: var(--button-padding-gap-button-padding-md, 16px);
  height: var(--button-padding-gap-button-padding-md, 16px);
  cursor: pointer;
}

.Reviews .reviewStats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.Reviews .reviewStats svg {
  width: 1rem;
  height: 1rem;
}
.Reviews .reviewStats span {
  font-family: "Pretendard Variable";
  font-style: normal;
  line-height: 160%;
}
.Reviews .reviewStats .avg {
  color: var(--Gray1, #000);
  font-size: 18px;
  font-weight: 600;
}
.Reviews .reviewStats .count {
  color: var(--Gray-4, #4F5257);
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}

.Reviews .reviewList {
  display: flex;
  padding-right: 4px;
  flex-direction: column;
  align-items: flex-start;
}
.Reviews .reviewList .reviewItem {
  display: flex;
  padding: var(--Input-Radius-input-radius-lg, 12px) 0px;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--Gray-8, #ECEEF4);
}

.Reviews .reviewList .reviewItem .reviewUser {
  display: flex;
  gap: 5px;
  align-items: center;
}

.Reviews .reviewList .reviewItem .reviewUser .reviewUsername {
  font-size: small;
}

.Reviews .reviewList .reviewItem .reviewInfo {
  display: flex;
  align-items: center;
}
.Reviews .reviewList .reviewItem .reviewInfo .reviewRating {
  margin-right: 4px;
}
.Reviews .reviewList .reviewItem .reviewInfo .reviewRating svg {
  width: 13px;
  height: 13px;
}

.Reviews .reviewList .reviewItem .reviewInfo .reviewDate {
  font-size: small;
}
.Reviews .reviewList .reviewItem .reviewContent {
  font-size: small;
}


.reviewItem:last-child {
  border-bottom: none; /* 마지막 아이템은 선을 없앰 */
}