.modalSection {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.modalCnt{
    position: relative;
    width: 60%;
    height: 87%;
    background-color: #fff;
    overflow-x: hidden;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /* 스크롤바 삭제 */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.modalCnt::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

.modalCnt .header {
    display: flex;
    padding: 16px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 16px 16px 0px 0px;
    border-bottom: 1px solid var(--Gray-8, #ECEEF4);
}
.modalCnt .header .tit {
    color: var(--Gray1, #000);
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}
.modalCnt .header .closeBtn {
    position: sticky;
    top: 0;
    left: 95%;
    border: none;
    color: #ffffff;
    justify-content: flex-end;
    cursor: pointer;
}

.modalCnt .content {
    display: flex;
    flex-direction: column;
    padding: 40px 122px 70px;
}

.modalButton:hover {
    background-color: #303f9f; /* 버튼 호버 색상 */
}

.modalCnt .content .location {
    display: flex;
    padding: var(--Input-Radius-input-radius-lg, 12px);
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Gray-7, #E1E4E9);
    background: var(--Gray-10, #FFF);
}
.modalCnt .content .location .lcnCnt {
    display: flex;
    align-items: center;
    gap: var(--button-padding-gap-button-padding-xl, 24px);
    align-self: stretch;
}
.modalCnt .content .location .lcnCnt img {
    width: 72px;
    height: var(--Button-Size-button-size-xl, 56px);
    border-radius: 4px;
}
.modalCnt .content .location .lcnCnt span {
    color: var(--Gray1, #000);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.modalCnt .content .rating {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    display: flex;
    align-items: center;
    gap: 4px;
}
.modalCnt .content .rating .ant-rate {
    font-size: 48px; /* 별 크기 */
    cursor: pointer;
    color: #000;
}

.modalCnt .content .reviewContent span {
    color: var(--Gray-5, #808388);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.modalCnt .content .reviewContent Input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 7px 0px;
    gap: 8px;
    border-bottom: 1px solid var(--Gray-7, #E1E4E9);
    color: var(--Gray-6, #B6B9BE);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.submitBtn {
    display: flex;
    padding: 26px 28px 26px 813px;
    justify-content: flex-end;
    align-items: center;
}
.modalCnt .submitBtn .wrtBtn {
    display: flex;
    height: var(--Button-Size-button-size-lg, 48px);
    padding: 0px var(--button-padding-gap-button-padding-xl, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--button-padding-gap-button-gap-lg, 4px);
    border-radius: var(--Border-Radius-rounded-full, 9999px);
    background: var(--Gray1, #000);
    color: #fff;
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}