.CardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 80px;
}

.CardContent header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--button-padding-gap-button-padding-md, 16px);
  padding: 10rem 14rem 0rem;
}
.CardContent header .num,
.CardContent header .title {
  color: var(--Gray1, #000);
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
}
.CardContent header .num {
  font-size: 20px;
  line-height: 160%;
}
.CardContent header .title {
  font-size: 54px;
  line-height: 120%;
  letter-spacing: -1.62px;
}

.CardContent .content {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  float: left;
  margin-right: 4rem;
}
.CardContent .content.beach {
  background: linear-gradient(180deg, rgba(172, 194, 254, 0.2) 0%, rgba(255, 255, 255, 0.20) 90.25%);
}
.CardContent .content.mount {
  background: linear-gradient(180deg, rgba(174, 247, 186, 0.20) 0%, rgba(255, 255, 255, 0.20) 90.25%);
}
.CardContent .content.culture {
  background: linear-gradient(180deg, rgba(255, 219, 171, 0.2) 0%, rgba(255, 255, 255, 0.20) 90.25%);
}
.CardContent .content .cardCnt {
  display: flex;
  flex-direction: column;
  padding: 10rem 14rem 0rem;
}

/* location 홀수 */
.CardContent .content .cardCnt .card:nth-child(odd) {
  display: flex;
  margin-bottom: 200px;
  position: relative;
}
.CardContent .content .cardCnt .card:nth-child(odd) img {
  width: 250px;
  height: 23rem;
  flex-shrink: 0;
}
.CardContent .content .cardCnt .card:nth-child(odd) .locationCnt {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: auto;
  width: fit-content;
  height: 75%;
  align-items: flex-start;
}
.CardContent .content .cardCnt .card:nth-child(odd) .header .location {
  color: var(--Gray-01, var(--Gray1, #000));
  font-family: "Syne";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1.62px;
}
.CardContent .content .cardCnt .card:nth-child(odd) .header .modalBtn {
  width: 28px;
  height: 28px;
}

.CardContent .content .cardCnt .card:nth-child(odd) .detail {
  margin-top: 2rem;
}
.CardContent .content .cardCnt .card:nth-child(odd) .detail .item {
  display: flex;
  align-items: center;
}
.CardContent .content .cardCnt .card:nth-child(odd) .detail svg {
  width: var(--button-padding-gap-button-padding-xl, 24px);
  height: var(--button-padding-gap-button-padding-xl, 24px);
}
.CardContent .content .cardCnt .card:nth-child(odd) .detail .item .detailCtn {
  color: var(--Gray1, #000);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-left: 0.5rem;
}
.CardContent .content .cardCnt .card:nth-child(odd) .detail .item .detailCtn.spot {
  font-family: "Syne";
  font-size: 20px;
}

.CardContent .content .cardCnt .card:nth-child(odd) .detail .item .keyword {
  display: flex;
  padding: 1px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 0.5rem;
  border-radius: 2px;
  background: var(--Gray-8, #ECEEF4);
  color: var(--Gray-5, #808388);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.CardContent .content .cardCnt .card:nth-child(odd) .detail .item.spots {
  margin-top: 21px;
}


/* location 짝수 */
.CardContent .content .cardCnt .card:nth-child(even) {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  margin-left: auto;
  position: relative;
}
.CardContent .content .cardCnt .card:nth-child(even) img {
  width: 440px;
  height: 295px;
  flex-shrink: 0;
}
.CardContent .content .cardCnt .card:nth-child(even) .locationCnt {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: auto;
  width: fit-content;
  height: 75%;
  align-items: flex-start;
}
.CardContent .content .cardCnt .card:nth-child(even) .header .location {
  color: var(--Gray-01, var(--Gray1, #000));
  font-family: "Syne";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1.62px;
}
.CardContent .content .cardCnt .card:nth-child(even) .header .modalBtn {
  width: 28px;
  height: 28px;
}

.CardContent .content .cardCnt .card:nth-child(even) .detail {
  margin-top: 2rem;
}
.CardContent .content .cardCnt .card:nth-child(even) .detail .item {
  display: flex;
  align-items: center;
}
.CardContent .content .cardCnt .card:nth-child(even) .detail svg {
  width: var(--button-padding-gap-button-padding-xl, 24px);
  height: var(--button-padding-gap-button-padding-xl, 24px);
}
.CardContent .content .cardCnt .card:nth-child(even) .detail .item .detailCtn {
  color: var(--Gray1, #000);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-left: 0.5rem;
}
.CardContent .content .cardCnt .card:nth-child(even) .detail .item .detailCtn.spot {
  font-family: "Syne";
  font-size: 20px;
}

.CardContent .content .cardCnt .card:nth-child(even) .detail .item .keyword {
  display: flex;
  padding: 1px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 0.5rem;
  border-radius: 2px;
  background: var(--Gray-8, #ECEEF4);
  color: var(--Gray-5, #808388);
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.CardContent .content .cardCnt .card:nth-child(even) .detail .item.spots {
  margin-top: 21px;
}


.CardContent .content .cardCnt .card:first-child .detail .item.desp,
.CardContent .content .cardCnt .card:nth-child(5) .detail .item.desp,
.CardContent .content .cardCnt .card:nth-child(9) .detail .item.desp {
  position: absolute;
  left: 62%;
  top: 0;
  width: 32%;
}
.CardContent .content .cardCnt .card:nth-child(2) .detail .item.desp,
.CardContent .content .cardCnt .card:nth-child(6) .detail .item.desp,
.CardContent .content .cardCnt .card:nth-child(10) .detail .item.desp {
  position: absolute;
  top: 45%;
  left: -87%;
  width: 73%;
}
.CardContent .content .cardCnt .card:nth-child(3) .detail .item.desp,
.CardContent .content .cardCnt .card:nth-child(7) .detail .item.desp,
.CardContent .content .cardCnt .card:nth-child(11) .detail .item.desp {
  position: absolute;
  left: 0;
  bottom: -29%;
  width: 32%;
}
.CardContent .content .cardCnt .card:nth-child(4) .detail .item.desp,
.CardContent .content .cardCnt .card:nth-child(8) .detail .item.desp,
.CardContent .content .cardCnt .card:nth-child(12) .detail .item.desp {
  position: absolute;
  left: -120%;
  top: 45%;
  width: 65%;
}
