.DNAHome {
  display: flex;
  flex-direction: column;
}

.DNAHome .Content {
  padding-top: 10%;
}

.DNAHome .Content .ViewContent {
  position: relative;
  display: flex;
  width: 100%;
}
.DNAHome .Content .ViewBtn {
  display: inline-flex;
  position: fixed;
  z-index: 1;
  bottom: 5%;
  left: 50%;
  padding: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--Gray1, #000);
  transform: translate(-50%, -50%);
}
.DNAHome .Content .ViewBtn .list,
.DNAHome .Content .ViewBtn .map {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  background-color: #000;
  gap: 6px;
}
.DNAHome .Content .ViewBtn .list {
  padding: 7.5px 26px 8.5px 26px;
  background-color: var(--Gray-10, #FFF);
}
.DNAHome .Content .ViewBtn .map {
  padding: 7.5px 21.5px 8.5px 21.5px;
  color: var(--Gray-10, #FFF);
}
