.DNAHome {
  display: flex;
  flex-direction: column;
}

.DNAHome .Header {
  display: flex;
  width: 1440px;
  height: 68px;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}
.DNAHome .Header .account {
  font-family: 'Pretendard Variable';
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}
.DNAHome .Header .account .loginBtn,
.DNAHome .Header .account .signInBtn {
  display: flex;
  height: var(--Button-Size-button-size-md, 40px);
  padding: 0px 20px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  gap: var(--button-padding-gap-button-gap-md, 2px);
}
.DNAHome .Header .account .loginBtn {
  background-color: #ffffff;
  border: none;
}
.DNAHome .Header .account .signInBtn {
  background: var(--Gray-01, #000);
  color: #ffffff;
}

/* .DNAHome .ViewContent {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
} */
.DNAHome .ViewBtn {
  display: inline-flex;
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 50%;
  padding: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--Gray1, #000);
  transform: translate(-50%, -50%);
}
.DNAHome .ViewBtn .list,
.DNAHome .ViewBtn .map {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  background-color: #000;
}
.DNAHome .ViewBtn .list {
  padding: 7.5px 26px 8.5px 26px;
  background-color: var(--Gray-10, #FFF);
}
.DNAHome .ViewBtn .map {
  padding: 7.5px 21.5px 8.5px 21.5px;
  color: var(--Gray-10, #FFF);
}

